{% if creations is not empty %}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% set maxDots = 5 %}
        {% set totalCreations = creations|length %}
        {% set midPoint = (maxDots // 2) %}

        {% for creation in creations %}
            <div class="swiper-slide" data-bg-color="#E9DDA9" data-title-color="#E9DDA9">
                <h2 class="text-4xl">{{ creation.title }}</h2>
                <p class="description text-2xl">{{ creation.description }}</p>
                <p class="text-sm underline uppercase text-blue-400">{{ creation.category }}</p>
                <div class="text-sm">
                    <p>Création: {{ creation.createdAt|date('Y-m-d H:i:s') }}</p>
                    <p>Mis à jour: {{ creation.updatedAt|date('Y-m-d H:i:s') }}</p>
                </div>
                <img src="{{ asset('uploads/creations/' ~ creation.file) }}" alt="{{ creation.title }}">
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>
{% else %}
    <p>Aucune création</p>
{% endif %}
