{% if creations is not empty %}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% set maxDots = 5 %}
        {% set totalCreations = creations|length %}
        {% set midPoint = (maxDots // 2) %}

        {% for creation in creations %}
            <div class="swiper-slide data-color-text" data-color="{{ creation.color }}">
                <h2 class="text-4xl">{{ creation.title }}</h2>
                <p class="description text-2xl">{{ creation.description }}</p>
                <a href="{{ path('app_category', { slug: creation.category.slug }) }}" class="mt-2 text-sm underline uppercase text-blue-400">{{ creation.category }}</a>
                <div class="my-4">
                    <div class="text-sm">
                        <p><span class="font-thin">Création: </span>{{ creation.createdAt|date('Y-m-d H:i:s') }}</p>
                        <p><span class="font-thin">Mis à jour: </span>{{ creation.updatedAt|date('Y-m-d H:i:s') }}</p>
                    </div>
                </div>
                <img src="{{ asset('uploads/creations/' ~ creation.file) }}" alt="{{ creation.title }}">
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>
{% else %}
    <p>Aucune création</p>
{% endif %}
