<nav class="nav">
    <i class="ph-bold ph-list data-color-text" id="menu-toggle"></i>
    <section class="nav-menu data-color-nav">
        <i class="ph-bold ph-x data-color-text" id="menu-close"></i>
        <div class="space-y-4 text-center flex flex-col items-center h-full justify-center pb-12 ">
            <a class="hover:underline transition duration-300" href="{{ path("app_home") }}">Accueil</a>
            {% for category in get_categories() %}
                <a class="hover:underline transition duration-300" href="{{ path('app_category', { slug: category.slug }) }}">{{ category.name }}</a>
            {% endfor %}
            {% if app.user %}
                <a class="hover:underline transition duration-300" href="{{ path("admin") }}">Admin</a>
                <a class="hover:underline transition duration-300" href="{{ path("app_logout") }}">Déconnexion</a>
            {% endif %}
            <div class="grid grid-cols-3 gap-4">
                <a class="hover:scale-95 transition duration-300" href="https://steamcommunity.com/linkfilter/?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fsylvain-balaguer-29162a137%2F">
                    <img class="h-10" src="{{ asset('uploads/Logo_Linkedin.svg') }}">
                </a>
                <a class="hover:scale-95 transition duration-300" href="https://steamcommunity.com/linkfilter/?u=https%3A%2F%2Fwww.malt.fr%2Fprofile%2Fsylvainbalaguer%3Foverview">
                    <img class="h-10" src="{{ asset('uploads/Logo_Malt.png') }}">
                </a>
                <a class="hover:scale-95 transition duration-300" href="https://steamcommunity.com/linkfilter/?u=https%3A%2F%2Fwww.artstation.com%2Fsylvain-b">
                    <img class="h-10" src="{{ asset('uploads/Logo_Art.webp') }}">
                </a>
            </div>
        </div>
    </section>
</nav>